.register_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .form_register {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 50%;

        .field {
            background-color: #eee;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 6px;
            height: 30px;
            width: 100%;
        }

        .btn_register {
            display: flex;
            justify-content: center;

            button {
                background: #36867b;
                border: 1px solid #36867b;
                border-radius: 20px;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                padding: 12px 45px;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}